<div class="row py-4 gx-0">
    <div class="">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img height="400" src="assets/slide-1.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/slide-2.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/slide-3.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/slide-4.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/slide-5.jpg" alt=""></ng-template>  
        </owl-carousel-o>
        
    </div>
    <!-- <div class="col-md-3">
        <img style="width: 100%;" height="200" src="assets/side-1.jpg" alt="">
        <img style="width: 100%;" height="200" src="assets/side-2.jpg" alt="">
    </div> -->
</div>
