<div class="row py-4 align-items-center">
    <div class="col-md-4">

        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let img of ProductData?.images">
              <ng-template carouselSlide>
                <img [src]="img">
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
        
        <!-- <img class="w-100" [src]="ProductData?.imageCover" alt=""> -->
    </div>
    <div class="col-md-8">
        <h2 class="h4 fw-bold mb-2">{{ProductData?.title}}</h2>
        <p class="text-muted p-3">{{ProductData?.description}}</p>
        <div class="d-flex align-items-center justify-content-between">
            <span class="text-muted fw-bold font-sm">{{ProductData?.price | currency}} </span>
            <div>
                <i class="rating-color fa fa-star"></i>
                <span class="text-muted fw-bold font-sm">{{ProductData?.ratingsAverage}}</span>
            </div>
        </div>
        <button class="btn bg-main text-white w-100 my-3"> + Add </button>
    </div>
</div>