<footer class="bg-light">
  <div class="p-5">
    <h3 class="fw-bold">Get The FreshCard App</h3><br>
    <p class="text-muted p-7">We Will Send You a Link, Open It On Your Phone To Download App</p>
  </div>
  <div class="px-5">
    <form class="form-group row justify-content-around">
      <input class="form-control" type="email" placeholder="Enter your email address here..." style="width: 80%;">
      <input class="btn btn-success form-control" style="width: 12%;" type="button" value="submit" value="Share app Link">
    </form>
    <hr>
    <div class="d-flex justify-content-between p-5">

      <div class="d-flex gap-5">
        <span>Payment Patterns</span>
        <div class="d-flex gap-2">
          <img height="20" src="assets/vodafone.png" alt="">
          <img height="20" src="assets/etisalat.png" alt="">
          <img height="20" src="assets/orange.png" alt="">
        </div>
      </div>

      <div class="d-flex gap-5">
        <span>Get Deliveries With FreshCard</span>
        <div class="d-flex gap-2">
          <img height="20" src="assets/apple.png" alt="">
          <img height="20" src="assets/android.png" alt="">
        </div>
      </div>

    </div>
  </div>

</footer>